nav{
    background-color: silver;
}
ul{
    text-align: center;
}
ul li{
    display: inline;
    color: steelblue;
    font-size: 35px;
    margin-right: 100px;
}
ul li:hover{
    color: aqua;
}
div.contenedor{
    background-color: dimgray;
    text-align: center;
    width: 80%;
    margin: auto;
    height: 740px;
}
body{
    background-color: dodgerblue;
}
img{
    width: 90%;
}